<footer>

  <div class="footer-block">

    <ul class="site-links">
      <li><a href="/legal#about_us"><%= I18n.t(:footer_about) %></a></li>
      <li><a href="/legal#risks"><%= I18n.t(:footer_risks) %></a></li>
      <li><a href="/legal#terms_and_conditions"><%= I18n.t(:footer_terms) %></a></li>
      <li><a href="/legal#privacy_policy"><%= I18n.t(:footer_policy) %></a></li>
      <li><a href="/legal#disclaimer"><%= I18n.t(:footer_disclaimer) %></a></li>
    </ul>

    <ul class="contact-links">
      <li><span class="icon-phone-1"></span><%= I18n.t(:main_phone) %></li>
      <li><a href="mailto:<%= I18n.t(:main_email) %>"><span class="icon-mail-2"></span><%= I18n.t(:main_email) %></a></li>
    </ul>

    <small><%= I18n.t(:copyright) %></small>

    <ul class="social-links">
      <li><a class="icon-twitter" href="http://twitter.com" target="_blank"></a></li>
      <li><a class="icon-facebook" href="http://facebook.com" target="_blank"></a></li>
    </ul>

  </div>

</footer>
