<header>

  <div class="header-block">
    <nav>
      <span class="icon-menu menu-control"></span>
      <ul>
        <li><a href="#"><%= I18n.t(:menu_idea) %></a></li>
        <li><a href="#"><%= I18n.t(:menu_invest) %></a></li>
        <li class="active"><a href="#"><%= I18n.t(:menu_about) %></a></li>
      </ul>
      <ul class="auth-links">
        <li class="contact-link"><a href="#"><%= I18n.t(:menu_contact) %></a></li>
        <li class="login-link"><a href="#"><%= I18n.t(:menu_login) %></a></li>
      </ul>
    </nav>

    <a href="/" class="logo">
      <object data="../images/ggig_logo.svg" type="image/svg+xml">
        <img src="../images/ggig_logo.png"/>
      </object>
      <span><i></i></span>
    </a>


  </div>

</header>
