<header>

  <div class="header-block">
    <nav>

      <div data-jscomp="components/mobileMenu">
        <span class="icon-menu menu-control" onclick="compSupport.callFunc(this, 'handleMenu', [this])"></span>
        <ul class="site-links">
          <%= nav_link I18n.t(:menu_idea), page_idea_path %>
          <%= nav_link I18n.t(:menu_invest), page_invest_path %>
          <%= nav_link I18n.t(:menu_about), page_about_path %>
          <%= nav_link I18n.t(:menu_contact), page_contact_path %>
        </ul>
      </div>

      <div data-jscomp="components/mobileMenu">
        <span class="icon-user menu-control auth-menu-control" onclick="compSupport.callFunc(this, 'handleMenu', [this])"></span>
        <ul class="auth-links">
          <li class="login-link">
            <% if current_user %>
              <%= link_to current_user.first_name, profile_path, 'class' => 'icon-font icon-user' %>
              <%= link_to 'Logout', destroy_user_session_path %>
            <% else %>
              <%#= link_to I18n.t(:menu_login), new_user_session_path %>
              <span onclick="compSupport.callFunc('#loginPopup', 'show')" class="popup-link"><%= I18n.t(:menu_login) %></span>
            <% end %>
          </li>
        </ul>
      </div>

    </nav>

    <a href="/" class="logo">
      <object data="/images/svg/ggig_logo_last.svg" type="image/svg+xml">
        <img src="/images/ggig_logo_last.png"/>
      </object>
      <span><i></i></span>
    </a>

  </div>

</header>
