<header>

  <div class="header-block">
    <nav>

      <div data-jscomp="components/mobileMenu">
        <span class="icon-menu menu-control" onclick="compSupport.callFunc(this, 'handleMenu', [this])"></span>
        <ul class="site-links">
          <li><a href="#"><%= I18n.t(:menu_idea) %></a></li>
          <li><a href="#"><%= I18n.t(:menu_invest) %></a></li>
          <li class="active"><a href="#"><%= I18n.t(:menu_about) %></a></li>
          <li><a href="#"><%= I18n.t(:menu_contact) %></a></li>
        </ul>
      </div>

      <div data-jscomp="components/mobileMenu">
        <span class="icon-menu menu-control auth-menu-control" onclick="compSupport.callFunc(this, 'handleMenu', [this])"></span>
        <ul class="auth-links">
          <li class="login-link">
            <% if current_user %>
              <%= link_to "Hello, #{current_user.first_name}!", new_user_session_path %>
              <%= link_to 'Logout', destroy_user_session_path %>
            <% else %>
              <%#= link_to I18n.t(:menu_login), new_user_session_path %>
              <span onclick="compSupport.callFunc('#loginPopup', 'show')" class="popup-link"><%= I18n.t(:menu_login) %></span>
            <% end %>
          </li>
        </ul>
      </div>

    </nav>

    <a href="/" class="logo">
      <object data="/images/svg/ggig_logo.svg" type="image/svg+xml">
        <img src="/images/ggig_logo.png"/>
      </object>
      <span><i></i></span>
    </a>

  </div>

</header>
