<div class="popup" id="loginPopup" data-jscomp="components/sendFormPopup" data-jscomp-config='{"url": "/users/sign_in", "needRedirect": true}'>

  <div class="fog" onclick="compSupport.callFunc(this, 'hide')"></div>
  <div class="popup-body">
    <span class="popup-close icon-font icon-cancel" onclick="compSupport.callFunc(this, 'hide')"></span>

    <div class="popup-title"><%= I18n.t(:login_popup_title) %></div>
    <div class="popup-content">

      <%= form_for(:user, :url => session_path(:user),
                   :html => { :'data-jscomp' => 'components/validator', method: 'post' } ) do |f| %>
        <div class="message-box"></div>
        <div class="field">
          <%= f.email_field :email, 
                            autofocus: true, 
                            class: 'default-input',
                            placeholder: 'email',
                            required: 'true' %>
        </div>
        <div class="field">
          <%= f.password_field :password, 
                                autocomplete: 'off',
                                class: 'default-input',
                                placeholder: 'password',
                                required: 'true' %>
        </div>

        <div class="field forgot-link">
          <a href="#"
             onclick="compSupport.callFunc('#forgotPassPopup', 'show')">
            <%= I18n.t(:login_popup_forgot_pswd) %>
          </a>
        </div>

        <%= f.submit I18n.t(:login_popup_btn_text),
                     class: 'default-btn primary-btn',
                     type: 'submit',
                     onclick: "compSupport.callFunc('#loginPopup', 'sendForm')".html_safe %>
      <% end %>
  
      <div class="popup-additional">
        <a href="/users/sign_up"><%= I18n.t(:login_popup_register_link) %></a>
        <p class="default-text"><%= I18n.t(:login_popup_text).html_safe %></p>
      </div>

    </div>
  </div>

</div>
