<div class="popup" id="loginPopup" data-jscomp="components/popup">

  <div class="fog" onclick="compSupport.callFunc(this, 'hide')"></div>
  <div class="popup-body">
    <span class="popup-close icon-font icon-cancel" onclick="compSupport.callFunc(this, 'hide')"></span>

    <div class="popup-title"><%= I18n.t(:login_popup_title) %></div>
    <div class="popup-content">

      <% if false %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br/>
            <%= f.password_field :password, autocomplete: 'off' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit 'Log in' %>
          </div>
        <% end %>
      <% end %>

      <%#= render 'devise/shared/links' %>

      <form action="" data-jscomp='components/validator'>
        <div class="field">
          <input type="email"
                 class="default-input"
                 placeholder="email"
                 name="email"
                 required="true"/>
        </div>
        <div class="field">
          <input type="password"
                 class="default-input"
                 placeholder="password"
                 name="password"
                 required="true"/>
        </div>

        <div class="field forgot-link">
          <a href="#" onclick="compSupport.callFunc('#forgotPassPopup', 'show')"><%= I18n.t(:login_popup_forgot_pswd) %></a>
        </div>

        <input type="submit" class="default-btn primary-btn" value="<%= I18n.t(:login_popup_btn_text) %>"/>
      </form>


      <div class="popup-additional">
        <a href="/users/sign_up"><%= I18n.t(:login_popup_register_link) %></a>
        <p class="default-text"><%= I18n.t(:login_popup_text).html_safe %></p>
      </div>

    </div>
  </div>

</div>
