<p class="default-text top-default-text"><%= I18n.t(:profile_my_invest_text) %></p>

<div class="my-investments">

  <h1 class="inner-page-main-title"><%= I18n.t(:profile_my_invest_title) %></h1>

  <%= render partial: 'partials/infographics' %>

  <div class="my-investments-content">
    <% if false #@count_projects.size > 0 %>
      <%= render 'partials/fundable', projects: Project.where(id: @count_projects) %>
    <% else %>
      <%= render 'partials/projects_slider', projects: @projects %>
    <% end %>

    <div class="view-all-projects">
      <a class="get-back icon-font icon-left-dir" href="/invest#fundable">View all Projects</a>
    </div>

  </div>

</div>
