<div class="popup participation-popup participation-thanks-popup" id="participationsThanksPopup" data-jscomp="components/popup">

  <div class="fog" onclick="compSupport.callFunc(this, 'hide')"></div>
  <div class="popup-body">
    <span class="popup-close icon-font icon-cancel" onclick="compSupport.callFunc(this, 'hide')"></span>

    <div class="popup-title"><%= I18n.t(:participation_thanks_title) %></div>
    <div class="popup-content">

      <form action="">

        <div class="section-to-print">
          <p><%= I18n.t(:participation_thanks_text_1, name: current_user.full_name).html_safe %>,</p>
          <p><%= I18n.t(:participation_thanks_text_2) %></p>
          <div class="generated-number">NL17ABNA0481489339</div>
          <span><%= I18n.t(:participation_thanks_text_3).html_safe %></span>
          <span><%= I18n.t(:participation_thanks_text_4) %> <a href="/contact" target="_blank">contact us</a></span>
          <span><%= I18n.t(:participation_thanks_text_5).html_safe %></span>
        </div>

      </form>

      <div class="additional-actions">
        <div class="get-pdf">
          <%= link_to_print(@project.id, current_user.id) %>
        </div>
      </div>

    </div>
  </div>

</div>
