<div class="popup participation-popup"
     id="participationsPopup"
     data-jscomp="components/popup">

  <div class="fog" onclick="compSupport.callFunc(this, 'hide')"></div>
  <div class="popup-body">
    <span class="popup-close icon-font icon-cancel" onclick="compSupport.callFunc(this, 'hide')"></span>

    <div class="popup-title"><%= I18n.t(:invest_popup_title) %></div>
    <div class="popup-content"
         id="investComp"
         data-jscomp="components/invest"
         data-jscomp-config='{"totalAmountNeeded": "<%= @project.total_amount_need %>", "totalAmountInvested": "<%= @project.total_amount_invested %>"}'>

      <form action="" id="investForm" data-jscomp="components/validator">
        <div class="participations-table grid">
          <div class="grid-container">
            <table>
              <tr>
                <th><%= I18n.t(:invest_popup_grid_title_1).html_safe %></th>
                <th><%= I18n.t(:invest_popup_grid_title_2).html_safe %></th>
                <th><%= I18n.t(:invest_popup_grid_title_3).html_safe %></th>
                <th></th>
              </tr>
              <tr>
                <td style="width: 40%;">
                  <div class="count-wrapper" style="position: relative;">
                  <input class="default-input count"
                         id="investCount"
                         onchange="compSupport.callFunc('#investComp', 'calculateTotal', [this])"
                         type="number"
                         min="1"
                         value="1"/>
                  </div>
                </td>
                <td style="width: 30%;"><span>€ <span class="totalAmount"><%= amount_to_invest %></span></span></td>
                <td style="width: 30%;"><span>€ <span class="amount"><%= interest_paid %></span></span></td>
                <td><span class="grid-ok-icon"></span></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="actions">
          <a class="default-btn" onclick="compSupport.callFunc('#investComp', 'checkValid')">
            <%= I18n.t(:invest_participation_popup_button) %>
          </a>
        </div>
      </form>

    </div>
  </div>

</div>
