<div class="popup participation-popup participation-confirm-popup"
     id="participationsConfirmationPopup"
     data-jscomp="components/investConfirmPopup"
     data-jscomp-config='{"url": "/testUrl", "showNextPopup": "#participationsThanksPopup"}'>

  <div class="fog" onclick="compSupport.callFunc(this, 'hide')"></div>
  <div class="popup-body">
    <span class="popup-close icon-font icon-cancel" onclick="compSupport.callFunc(this, 'hide')"></span>

    <div class="popup-title"><%= I18n.t(:participation_confirm_title) %></div>
    <div class="popup-content">

      <form action="" data-jscomp="components/validator">

        <input type="hidden" name="confirmCountField" id="confirmCountField"/>
        <input type="hidden" name="confirmTotalAmountField" id="confirmTotalAmountField"/>

        <div class="message-box"></div>

        <div class="section-to-print">
          <div class="name"><%= current_user.full_name %></div>
          <div class="address">10.04.1980, amsterdam, holland</div>
          <div class="amount left-aligned-text"><%= I18n.t(:participation_confirm_text_1, project_name: @project.name).html_safe %></div>
          <div class="info left-aligned-text"><%= I18n.t(:participation_confirm_text_2, name: current_user.full_name).html_safe %></div>
        </div>


        <div class="actions">
          <a class="default-btn" onclick="compSupport.callFunc('#participationsConfirmationPopup', 'sendForm')">
            <%= I18n.t(:participation_confirm_button) %>
          </a>
        </div>
      </form>

      <div class="additional-actions">
        <div class="get-back">
          <a class="icon-font icon-left-dir" onclick="compSupport.callFunc('#participationsPopup', 'show')"><%= I18n.t(:cmn_back) %></a></div>
        <div class="get-pdf">
          <a class="icon-font icon-pdf" onclick="print()"><%= I18n.t(:cmn_print) %></a>
        </div>
      </div>

    </div>
  </div>

</div>
