<ul class="statistic-circles">
  <li>
    <div>
      <%= cute_amount(project.total_amount_invested) %> <sup>€</sup>
      <span><%= I18n.t(:stat_invested) %></span>
    </div>
  </li>
  <li>
    <div>
      <%= number_with_precision(project.irr, strip_insignificant_zeros: true) %>%
      <span><%= I18n.t(:stat_fixed_return) %></span>
    </div>
  </li>
  <% if project.launch %>
    <li>
      <div>
        <%= number_with_precision(project.kwh_generated, strip_insignificant_zeros: true) %>
        <span><%= I18n.t(:stat_generated) %></span>
      </div>
    </li>
  <% end %>
  <% if project.is_power_saved? %>
    <li>
      <div data-jscomp='components/statisticCounter'
           data-jscomp-config='{
           "stepValue": "<%= project.power_saved.kwh_every_second %>",
           "updateInterval": "1000"
           }'>
        <p class="savedStatistic"><%= saved_kwh(project.id) %></p>
        <span><%= I18n.t(:stat_saved) %></span>
      </div>
    </li>
  <% end %>
</ul>
