<section class="projects-slider">

  <h2><%= I18n.t(:title_latest_project) %></h2>

  <p class="default-text"><%= I18n.t(:latest_project_text) %></p>

  <div class="swiper-container" data-jscomp="components/slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image:url('/images/projects/1/project_slide_1.jpg')">
        <div class="slider-content">
          <h4>
            <span><i class="sun-icon"></i></span>
            Windpark Landtong Rozenburg
          </h4>

          <div class="project-location">ROTTERDAM, 3181 ML</div>
          <div class="project-statistic">
              <span>
                2%
                <i>IRR</i>
              </span>
            <canvas data-jscomp="components/projectStatistic"
                    data-percentage="2"
                    class="canvas-statistic"
                    width="100"
                    height="100"></canvas>
          </div>
          <div class="project-price">
            560 000
            <sup>&euro;</sup>
          </div>
          <a href="#" class="default-btn">View project</a>

          <p><%= I18n.t(:latest_project_slider_text_1) %></p>
        </div>
      </div>
      <div class="swiper-slide" style="background-image:url('/images/projects/1/project_slide_2.jpg')">
        <div class="slider-content">
          <h4>
            <span><i class="sun-icon"></i></span>
            Windpark Landtong Rozenburg
          </h4>

          <div class="project-location">ROTTERDAM, 3181 ML</div>
          <div class="project-statistic">
              <span>
                20%
                <i>IRR</i>
              </span>
            <canvas data-jscomp="components/projectStatistic"
                    data-percentage="20"
                    class="canvas-statistic"
                    width="100"
                    height="100"></canvas>
          </div>
          <div class="project-price">
            9 990 000
            <sup>&euro;</sup>
          </div>
          <a href="#" class="default-btn">View project</a>

          <p><%= I18n.t(:latest_project_slider_text_2) %></p>
        </div>
      </div>
      <div class="swiper-slide" style="background-image:url('/images/projects/1/project_slide_3.jpg')">
        <div class="slider-content">
          <h4>
            <span><i class="sun-icon"></i></span>
            Windpark Landtong Rozenburg
          </h4>

          <div class="project-location">ROTTERDAM, 3181 ML</div>
          <div class="project-statistic">
              <span>
                37%
                <i>IRR</i>
              </span>
            <canvas data-jscomp="components/projectStatistic"
                    data-percentage="37"
                    class="canvas-statistic"
                    width="100"
                    height="100"></canvas>
          </div>
          <div class="project-price">
            350 000
            <sup>&euro;</sup>
          </div>
          <a href="#" class="default-btn">View project</a>

          <p><%= I18n.t(:latest_project_slider_text_3) %></p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>

  </div>

  <div class="swiper-button-prev icon-left-dir"></div>
  <div class="swiper-button-next icon-right-dir"></div>

</section>
