<p class="default-text top-default-text"><%= I18n.t(:profile_settings_text) %></p>

<h1 class="inner-page-main-title"><%= I18n.t(:profile_settings_title) %></h1>

<%= form_for :profile,
             :html => {
                 :id => 'editProfileForm',
                 'data-jscomp' => 'components/validator',
                 :class => 'my-profile-settings-form'
             } do |f| %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
    <div class="default-label">
      <%= f.label :first_name %>
      <em><%= I18n.t(:cmn_official_label) %></em>
    </div>
    <%= text_field_tag 'user[first_name]', current_user.first_name,
                       autofocus: true,
                       :'data-validator-required' => I18n.t(:error_required),
                       :placeholder => 'First name',
                       :class => 'default-input' %>
    <span class="icon-ok">&nbsp;</span>
  </div>


  <div class="field">
    <div class="default-label">
      <%= f.label :last_name %>
      <em><%= I18n.t(:cmn_official_label) %></em>
    </div>
    <%= text_field_tag 'user[last_name]', current_user.last_name,
                       :'data-validator-required' => I18n.t(:error_required),
                       :placeholder => 'Last name',
                       :class => 'default-input' %>
    <span class="icon-ok">&nbsp;</span>
  </div>

  <div class="field">
    <%= f.label :email, :class => 'default-label' %>
    <%= text_field_tag 'user[email]', current_user.email,
                       :'data-validator-required' => I18n.t(:error_required),
                       :'data-validator-email' => I18n.t(:error_email),
                       :placeholder => 'example@mail.com',
                       :class => 'default-input' %>
    <span class="icon-ok">&nbsp;</span>
  </div>

  <div class="field">
    <div class="default-label">
      <%= f.label :phone %>
      <em><%= I18n.t(:cmn_not_required) %></em>
    </div>
    <%= f.text_field :phone,
                     :value => @profile.try(:phone),
                     :class => 'default-input' %>
    <span class="icon-ok">&nbsp;</span>
  </div>

  <div class="field default-checkbox">
    <div class="default-label"></div>
    <input type="checkbox" value="" name="" id="subscribe_check"/>
    <label for="subscribe_check"><span>Stay informed on new projects</span></label>
  </div>


  <div class="separator-with-text">
    <span>Additional information for investment</span>
    <hr/>
  </div>


  <div class="field birthday-field">
    <%= f.label 'Date of Birth', :class => 'default-label' %>
    <%= f.date_select :date_of_birthday,
                      :value => @profile.try(:date_of_birthday),
                      order: [:day, :month, :year],
                      start_year: 1920,
                      include_blank: true,
                      :'data-validator-required' => I18n.t(:error_required),
                      :class => 'default-input' %>
    <span class="icon-ok">&nbsp;</span>
  </div>

  <div class="field country-field">
    <%= f.label :country, :class => 'default-label' %>
    <%= f.country_select :country, ['NL'],
                         :value => @profile.try(:country),
                         include_blank: true,
                         :'data-validator-required' => I18n.t(:error_required),
                         :class => 'default-input' %>
    <span class="icon-ok">&nbsp;</span>
  </div>

  <div class="field address-field">
    <%= f.label :address, :class => 'default-label' %>
    <div>
      <%= f.text_field :address_street,
                       :value => @profile.try(:address_street),
                       :placeholder => 'Street',
                       :class => 'default-input' %>
      <%= f.text_field :address_num_house,
                       :value => @profile.try(:address_num_house),
                       :placeholder => 'Number',
                       :class => 'default-input small-input' %>
      <%= f.text_field :address_city,
                       :value => @profile.try(:address_city),
                       :placeholder => 'City',
                       :class => 'default-input' %>
      <%= f.text_field :adress_zip_code,
                       :value => @profile.try(:adress_zip_code),
                       :placeholder => 'Postal',
                       :class => 'default-input small-input' %>
    </div>
  </div>

  <!--<div class="field">
    <%#= f.label :name, :class => 'default-label' %>
    <%#= f.text_field :bank_account_name,
                     :value => @profile.try(:bank_account_name),
                     :'data-validator-required' => I18n.t(:error_required),
                     :placeholder => 'Bank account name',
                     :class => 'default-input' %>
    <span class="icon-ok">&nbsp;</span>
  </div>

  <div class="field">
    <%#= f.label :iban, :class => 'default-label' %>
    <%#= f.text_field :bank_iban_code,
                     :value => @profile.try(:bank_iban_code),
                     :'data-validator-required' => I18n.t(:error_required),
                     :placeholder => 'Iban',
                     :class => 'default-input' %>
    <span class="icon-ok">&nbsp;</span>
  </div>-->

  <div class="separator-with-text separator-with-icon">
    <div>
      <span class="icon-ok"></span>
    </div>
    <hr/>
  </div>


  <div class="actions">
    <%= f.submit 'Save', :class => 'default-btn primary-btn' %>
  </div>

<% end %>
