<section class="projects-slider">

  <h2 class="inner-page-sub-title"><%= I18n.t(:title_latest_project) %></h2>

  <p class="default-text"><%= I18n.t(:latest_project_text) %></p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% projects.each do |project| %>
        <div class="swiper-slide" data-src="<%= project.big_foto.url %>" style="background-image:url('<%= project.big_foto.url %>')">
          <div class="slider-content">
            <h4>
              <span><i class="<%= icon_energy(project.type_of_energe) %>"></i></span>
              <%= project.name %>
            </h4>

            <div class="project-location"><%= project.location %></div>

            <div class="project-price">
              <span>needed:</span>
              <%= cute_amount(project.total_amount_need) %><sup>&euro;</sup>
            </div>

            <div class="project-statistic">
              <span><%= calculate_funded(project.total_amount_need, project.total_amount_invested) %>%<i>Funded</i></span>
              <canvas data-jscomp="components/projectStatistic"
                      data-percentage="<%= calculate_funded(project.total_amount_need, project.total_amount_invested) %>"
                      class="canvas-statistic"
                      width="100"
                      height="100"></canvas>
            </div>
            <div class="project-statistic">
              <span><%= number_with_precision(project.irr, strip_insignificant_zeros: true, precision: 2) %>%<i>Return</i></span>
              <canvas data-jscomp="components/projectStatistic"
                      data-percentage="100"
                      class="canvas-statistic"
                      width="100"
                      height="100"></canvas>
            </div>

            <%= link_to 'View project', project_path(project.id), class: 'default-btn primary-btn' %>

            <p><%= project.title %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="swiper-pagination"></div>

  </div>

</section>
