<ul class="statistic-circles">
  <li>
    <div>
      <%= cute_amount(invested) %> <sup>€</sup>
      <span><%= I18n.t(:stat_invested) %></span>
    </div>
  </li>
  <li>
    <div>
      <%= number_with_precision(irr, strip_insignificant_zeros: true) %>%
      <span><%= I18n.t(:stat_fixed_return) %></span>
    </div>
  </li>
  <% if launch %>
    <li>
      <div>
        <%= number_with_precision(kwh, strip_insignificant_zeros: true) %>
        <span><%= I18n.t(:stat_generated) %></span>
      </div>
    </li>
  <% end %>
</ul>
