<section class="team-tab">
  <ul>
    <li>
      <div class="team-img"><img src="/images/team/x.png" alt="<%= I18n.t(:about_team_y) %>"/></div>
      <h5><%= I18n.t(:about_team_y) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_y_role) %></div>
      <p><%= I18n.t(:about_team_y_descr) %></p>
    </li>
    <li>
      <div class="team-img"><img src="/images/team/x.png" alt="<%= I18n.t(:about_team_y) %>"/></div>
      <h5><%= I18n.t(:about_team_y) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_y_role) %></div>
      <p><%= I18n.t(:about_team_y_descr) %></p>
    </li>
    <li>
      <div class="team-img"><img src="/images/team/x.png" alt="<%= I18n.t(:about_team_y) %>"/></div>
      <h5><%= I18n.t(:about_team_y) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_y_role) %></div>
      <p><%= I18n.t(:about_team_y_descr) %></p>
    </li>
    <li>
      <div class="team-img"><img src="/images/team/x.png" alt="<%= I18n.t(:about_team_y) %>"/></div>
      <h5><%= I18n.t(:about_team_y) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_y_role) %></div>
      <p><%= I18n.t(:about_team_y_descr) %></p>
    </li>
    <li>
      <div class="team-img"><img src="/images/team/x.png" alt="<%= I18n.t(:about_team_y) %>"/></div>
      <h5><%= I18n.t(:about_team_y) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_y_role) %></div>
      <p><%= I18n.t(:about_team_y_descr) %></p>
    </li>
  </ul>
</section>
