<section class="team-tab">
  <ul>
    <li>
      <div class="team-img"><div><img src="/images/team/nana.jpg" alt="<%= I18n.t(:about_team_nana) %>"/></div></div>
      <h5><%= I18n.t(:about_team_nana) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_nana_role) %></div>
      <p><%= I18n.t(:about_team_nana_descr) %></p>
    </li>
    <li>
      <div class="team-img"><div><img src="/images/team/x.jpg" alt="<%= I18n.t(:about_team_y) %>"/></div></div>
      <h5><%= I18n.t(:about_team_y) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_y_role) %></div>
      <p><%= I18n.t(:about_team_y_descr) %></p>
    </li>
    <li>
      <div class="team-img"><div><img src="/images/team/x.jpg" alt="<%= I18n.t(:about_team_y) %>"/></div></div>
      <h5><%= I18n.t(:about_team_y) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_y_role) %></div>
      <p><%= I18n.t(:about_team_y_descr) %></p>
    </li>
    <li>
      <div class="team-img"><div><img src="/images/team/x.jpg" alt="<%= I18n.t(:about_team_y) %>"/></div></div>
      <h5><%= I18n.t(:about_team_y) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_y_role) %></div>
      <p><%= I18n.t(:about_team_y_descr) %></p>
    </li>
    <li>
      <div class="team-img"><div><img src="/images/team/x.jpg" alt="<%= I18n.t(:about_team_y) %>"/></div></div>
      <h5><%= I18n.t(:about_team_y) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_y_role) %></div>
      <p><%= I18n.t(:about_team_y_descr) %></p>
    </li>
  </ul>
</section>
