<section class="content-with-text infographics-tab">
  <h5><%= I18n.t(:about_infographics_title_1) %></h5>
  <ul>
    <li><%= I18n.t(:about_infographics_text_1_1).html_safe %></li>
    <li><%= I18n.t(:about_infographics_text_1_2).html_safe %></li>
    <li><%= I18n.t(:about_infographics_text_1_3).html_safe %></li>
    <li><%= I18n.t(:about_infographics_text_1_5).html_safe %></li>
    <li><%= I18n.t(:about_infographics_text_1_6).html_safe %></li>
    <li><%= I18n.t(:about_infographics_text_1_7).html_safe %></li>
  </ul>
  <h5><%= I18n.t(:about_infographics_title_2).html_safe %></h5>
  <ul>
    <li><%= I18n.t(:about_infographics_text_2_1).html_safe %></li>
    <li><%= I18n.t(:about_infographics_text_2_2).html_safe %></li>
    <li><%= I18n.t(:about_infographics_text_2_4).html_safe %></li>
    <li><%= I18n.t(:about_infographics_text_2_5).html_safe %></li>
  </ul>
  <h5><%= I18n.t(:about_infographics_title_3) %></h5>
  <ul>
    <li><%= I18n.t(:about_infographics_text_3_1).html_safe %></li>
    <li><%= I18n.t(:about_infographics_text_3_2).html_safe %></li>
    <li><%= I18n.t(:about_infographics_text_3_4).html_safe %></li>
    <li><%= I18n.t(:about_infographics_text_3_5).html_safe %></li>
    <li><%= I18n.t(:about_infographics_text_3_6).html_safe %></li>
    <li><%= I18n.t(:about_infographics_text_3_7).html_safe %></li>
  </ul>
</section>
