<section class="content-with-text infographics-tab">
  <h5><%= I18n.t(:about_infographics_title_1) %></h5>
  <ul>
    <li><%= I18n.t(:about_infographics_text_1_1) %></li>
    <li><%= I18n.t(:about_infographics_text_1_2) %></li>
    <li><%= I18n.t(:about_infographics_text_1_3) %></li>
    <li><%= I18n.t(:about_infographics_text_1_4) %></li>
    <li><%= I18n.t(:about_infographics_text_1_5) %></li>
  </ul>
  <h5><%= I18n.t(:about_infographics_title_2) %></h5>
  <ul>
    <li><%= I18n.t(:about_infographics_text_2_1) %></li>
  </ul>
  <h5><%= I18n.t(:about_infographics_title_3) %></h5>
  <ul>
    <li><%= I18n.t(:about_infographics_text_3_1) %></li>
    <li><%= I18n.t(:about_infographics_text_3_2) %></li>
    <li><%= I18n.t(:about_infographics_text_3_3) %></li>
    <li><%= I18n.t(:about_infographics_text_3_4) %></li>
    <li><%= I18n.t(:about_infographics_text_3_5) %></li>
  </ul>
</section>
