<section class="team-tab">
  <ul>
    <li>
      <div class="team-img"><img src="/images/team/x.png" alt="<%= I18n.t(:about_team_x) %>"/></div>
      <h5><%= I18n.t(:about_team_x) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_x_role) %></div>
      <p><%= I18n.t(:about_team_x_descr) %></p>
    </li>
    <li>
      <div class="team-img"><img src="/images/team/ben.jpg" alt="<%= I18n.t(:about_team_ben) %>"/></div>
      <h5><%= I18n.t(:about_team_ben) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_ben_role) %></div>
      <p><%= I18n.t(:about_team_ben_descr) %></p>
    </li>
    <li>
      <div class="team-img"><img src="/images/team/duco.jpg" alt="Duco Van Rossem"/></div>
      <h5><%= I18n.t(:about_team_duco).html_safe %></h5>

      <div class="team-role"><%= I18n.t(:about_team_duco_role) %></div>
      <p><%= I18n.t(:about_team_duco_descr) %></p>
    </li>
  </ul>

  <div class="separator-with-text">
    <div>
      <span>
        <%= I18n.t(:about_the_team_support) %>
      </span>
    </div>
    <hr/>
  </div>

  <ul class="team-support">
    <li>
      <div class="team-img"><img src="/images/team/vitaly.jpg" alt="<%= I18n.t(:about_team_vitaly) %>"/></div>
      <h5><%= I18n.t(:about_team_vitaly) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_vitaly_role) %></div>
      <p><%= I18n.t(:about_team_vitaly_descr) %></p>
    </li>
    <li>
      <div class="team-img"><img src="/images/team/kramar.jpg" alt="<%= I18n.t(:about_team_kramar) %>"/></div>
      <h5><%= I18n.t(:about_team_kramar) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_kramar_role) %></div>
      <p><%= I18n.t(:about_team_kramar_descr) %></p>
    </li>
    <li>
      <div class="team-img"><img src="/images/team/x.png" alt="<%= I18n.t(:about_team_yuriy) %>"/></div>
      <h5><%= I18n.t(:about_team_yuriy) %></h5>

      <div class="team-role"><%= I18n.t(:about_team_yuriy_role) %></div>
      <p><%= I18n.t(:about_team_yuriy_descr) %></p>
    </li>
  </ul>

</section>
