<%
   @page_title = I18n.t(:title_home)
   @description = I18n.t(:description_home)
   @keywords = I18n.t(:keywords_home)
%>

<section class="main-slider swiper-container" data-jscomp="components/slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide first-slide" style="background-image:url('/images/slider/slide_11.jpg')" data-src="/images/slider/slide_11.jpg">
      <div class="slider-content">
        <h1><%= I18n.t(:main_slider_text_1) %><span><%= I18n.t(:subtitle_main_1) %></span></h1>
      </div>
    </div>
    <div class="swiper-slide" data-src="/images/slider/slide_22.jpg" >
      <div class="slider-content">
        <h1><%= I18n.t(:main_slider_text_2) %><span><%= I18n.t(:subtitle_main_2) %></span></h1>
      </div>
    </div>
    <div class="swiper-slide" data-src="/images/slider/slide_44.jpg" >
      <div class="slider-content">
        <h1><%= I18n.t(:main_slider_text_3) %><span><%= I18n.t(:subtitle_main_3).html_safe %></span></h1>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</section>


<main>

  <section class="projects-statistic">
    <p class="default-text"><%= I18n.t(:stat_text) %> <a href="/idea#video"><br><%= I18n.t(:stat_text_link) %></a></p>
    <%= project_stats %>
  </section>

  <%= render 'partials/projects_slider', projects: @projects %>

  <section class="key-values">
    <h2><%= I18n.t(:title_key_values) %></h2>

    <ul>
      <li class="easy">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="iconic iconic-signal" width="41" height="41" viewBox="0 0 64 64"><defs><path id="a" d="M0 0h64.2v64.2H0z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path fill="#00bde3" clip-path="url(#b)" d="M45.9 21.8L27.3 40.4l-8.2-8.2c-.6-.6-1.5-.6-2.1 0-.6.6-.6 1.5 0 2.1l9.3 9.3c.3.3.7.4 1 .4s.8-.2 1-.4L48 23.9c.6-.6.6-1.5 0-2.1-.6-.6-1.5-.6-2.1 0"/><path clip-path="url(#b)" fill="none" stroke="#00bde3" stroke-width="2" stroke-miterlimit="10" d="M45.9 21.8L27.3 40.4l-8.2-8.2c-.6-.6-1.5-.6-2.1 0-.6.6-.6 1.5 0 2.1l9.3 9.3c.3.3.7.4 1 .4s.8-.2 1-.4L48 23.9c.6-.6.6-1.5 0-2.1-.6-.6-1.5-.6-2.1 0z"/><path fill="#00bde3" clip-path="url(#b)" d="M32.1 1C15.2 1 1 15.2 1 32.1 1 49 15.2 63.2 32.1 63.2 49 63.2 63.2 49 63.2 32.1 63.2 15.2 49 1 32.1 1m0 59.3C16.9 60.3 4 47.4 4 32.1 4 16.9 16.9 4 32.1 4c15.3 0 28.1 12.9 28.1 28.1.1 15.3-12.8 28.2-28.1 28.2"/><path clip-path="url(#b)" fill="none" stroke="#00bde3" stroke-width="2" stroke-miterlimit="10" d="M32.1 1C15.2 1 1 15.2 1 32.1 1 49 15.2 63.2 32.1 63.2 49 63.2 63.2 49 63.2 32.1 63.2 15.2 49 1 32.1 1zm0 59.3C16.9 60.3 4 47.4 4 32.1 4 16.9 16.9 4 32.1 4c15.3 0 28.1 12.9 28.1 28.1.1 15.3-12.8 28.2-28.1 28.2z"/></svg>
        </span>

        <!--<span class="icon-font icon-easy_icon">
        </span>-->

        <h5><%= I18n.t(:key_values_easy) %></h5>

        <p><%= I18n.t(:key_values_easy_text) %></p>
      </li>
      <li class="transparent">
        <span class="icon-font icon-transparent_icon"></span>
        <h5><%= I18n.t(:key_values_transparent) %></h5>

        <p><%= I18n.t(:key_values_transparent_text) %></p>
      </li>
      <li class="secure">
        <span class="icon-font icon-secure_icon">
        </span>
        <h5><%= I18n.t(:key_values_secure) %></h5>

        <p><%= I18n.t(:key_values_secure_text) %></p>
      </li>
      <li class="stable-return">
        <span class="icon-font icon-stable_return_icon">
        </span>
        <h5><%= I18n.t(:key_values_return) %></h5>

        <p><%= I18n.t(:key_values_return_text) %></p>
      </li>
      <li class="trade">
        <span class="icon-font icon-trade_icon">
        </span>
        <h5><%= I18n.t(:key_values_trade) %></h5>

        <p><%= I18n.t(:key_values_trade_text) %></p>
      </li>
      <li class="growing">
        <span class="icon-font icon-growing_icon">
        </span>
        <h5><%= I18n.t(:key_values_growing) %></h5>

        <p><%= I18n.t(:key_values_growing_text) %></p>
      </li>
    </ul>

  </section>

  <%= render 'partials/subscription' %>

</main>
