<section class="main-slider">
  <div class="ninja-slider" id='ninjaSlider'>
    <ul>
      <li>
        <div data-image="/images/slider/slide_11.jpg">
          <div class="slider-content">
            <h1><%= I18n.t(:title_main) %><span><%= I18n.t(:subtitle_main) %></span></h1>
            <hr/>
            <p><%= I18n.t(:main_slider_text_1).html_safe %></p>
          </div>
        </div>
      </li>
      <li>
        <div data-image="/images/slider/slide_22.jpg">
          <div class="slider-content">
            <h1><%= I18n.t(:title_main) %><span><%= I18n.t(:subtitle_main) %></span></h1>
            <hr/>
            <p><%= I18n.t(:main_slider_text_2).html_safe %></p>
          </div>
        </div>
      </li>
      <li>
        <div data-image="/images/slider/slide_33.jpg">
          <div class="slider-content">
            <h1><%= I18n.t(:title_main) %><span><%= I18n.t(:subtitle_main) %></span></h1>
            <hr/>
            <p><%= I18n.t(:main_slider_text_3).html_safe %></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<main>

  <section class="projects-statistic">
    <p class="default-text"><%= I18n.t(:stat_text) %></p>

    <ul class="statistic-circles">
      <li>
        <div>
          50.000
          <span><%= I18n.t(:stat_investors) %></span>
        </div>
      </li>
      <li>
        <div>
          100 <em>MLN</em>
          <span><%= I18n.t(:stat_invested) %></span>
        </div>
      </li>
      <li>
        <div>
          32
          <span><%= I18n.t(:stat_projects) %></span>
        </div>
      </li>
      <li>
        <div>
          504.000
          <span><%= I18n.t(:stat_generated) %></span>
        </div>
      </li>
      <li>
        <div>
          6.5%
          <span><%= I18n.t(:stat_return) %></span>
        </div>
      </li>
    </ul>

  </section>

  <%= render 'partials/projects_slider' %>

  <section class="key-values">
    <h2><%= I18n.t(:title_key_values) %></h2>

    <p class="default-text"><%= I18n.t(:key_values_text) %></p>

    <ul>
      <li class="easy">
        <span></span>
        <h5><%= I18n.t(:key_values_easy) %></h5>

        <p><%= I18n.t(:key_values_easy_text) %></p>
      </li>
      <li class="transparent">
        <span></span>
        <h5><%= I18n.t(:key_values_transparent) %></h5>

        <p><%= I18n.t(:key_values_transparent_text) %></p>
      </li>
      <li class="secure">
        <span></span>
        <h5><%= I18n.t(:key_values_secure) %></h5>

        <p><%= I18n.t(:key_values_secure_text) %></p>
      </li>
      <li class="stable-return">
        <span></span>
        <h5><%= I18n.t(:key_values_return) %></h5>

        <p><%= I18n.t(:key_values_return_text) %></p>
      </li>
      <li class="trade">
        <span></span>
        <h5><%= I18n.t(:key_values_trade) %></h5>

        <p><%= I18n.t(:key_values_trade_text) %></p>
      </li>
      <li class="growing">
        <span></span>
        <h5><%= I18n.t(:key_values_growing) %></h5>

        <p><%= I18n.t(:key_values_growing_text) %></p>
      </li>
    </ul>

  </section>

  <%= render 'partials/subscription' %>

  <% content_for :popups do %>
      <%= render 'partials/login_popup' %>
  <% end %>

</main>
