<%
   @page_title = I18n.t(:title_about)
   @description = I18n.t(:description_about)
   @keywords = I18n.t(:keywords_about)
%>

<div class="inner-page about-page">

  <h1 class="inner-page-main-title"><%= I18n.t(:about_main_title) %></h1>

  <div class="tabs-component" data-jscomp="components/tabs">
    <ul>
      <li><a href="#team"><%= I18n.t(:about_the_team_title) %></a></li>
      <li><a href="#mission"><%= I18n.t(:about_mission_title) %></a></li>
      <li><a href="#board"><%= I18n.t(:about_board_title) %></a></li>
      <li><a href="#infographics"><%= I18n.t(:about_infographics_title) %></a></li>
    </ul>
    <div class="tabs-content" id="team">
      <%= render 'partials/about/the_team' %>
    </div>
    <div class="tabs-content" id="mission">
      <%= render 'partials/about/mission' %>
    </div>
    <div class="tabs-content" id="board">
      <%= render 'partials/about/board' %>
    </div>
    <div class="tabs-content" id="infographics">
      <%= render 'partials/about/infographics' %>
    </div>
  </div>
</div>
