<div class="inner-page idea-page">
  <h1 class="inner-page-main-title"><%= I18n.t(:idea_title) %></h1>

  <p class="default-text top-default-text"><%= I18n.t(:idea_page_text).html_safe %></p>

  <div class="separator-with-text">
    <div>
      <span>
        <%= I18n.t(:idea_example_project_example).html_safe %>
      </span>
    </div>
    <hr/>
  </div>

  <div class="idea-main-image">

    <h2 class="inner-page-sub-title"><%= I18n.t(:idea_example_project_title) %></h2>

    <img src="/images/idea_infographic.jpg" alt=""/>
  </div>

  <section class="project-infographic-content">
    <div>
      <div>
        <h3 class="inner-page-sub-title"><%= I18n.t(:idea_page_paragraph_1_title).html_safe %></h3>

        <p class="default-text"><%= I18n.t(:idea_page_paragraph_1_1_text).html_safe %></p>
        <p class="default-text"><%= I18n.t(:idea_page_paragraph_1_2_text).html_safe %></p>
      </div>
      <div>
        <h3 class="inner-page-sub-title"><%= I18n.t(:idea_page_paragraph_2_title).html_safe %></h3>

        <p class="default-text"><%= I18n.t(:idea_page_paragraph_2_text).html_safe %></p>
      </div>
    </div>
    <div>
      <h3 class="inner-page-sub-title"><%= I18n.t(:idea_page_paragraph_3_title).html_safe %></h3>
      <p class="default-text"><%= I18n.t(:idea_page_paragraph_3_1_text).html_safe %></p>
      <p class="default-text"><%= I18n.t(:idea_page_paragraph_3_2_text).html_safe %></p>
      <p class="default-text"><%= I18n.t(:idea_page_paragraph_3_3_text).html_safe %></p>
      <p class="default-text"><%= I18n.t(:idea_page_paragraph_3_4_text).html_safe %></p>
    </div>
  </section>

  <section class="how-it-works-video">
    <img src="/images/idea_video.jpg" alt=""/>
  </section>

  <section class="steps-to-invest">
    <h2 class="inner-page-sub-title"><%= I18n.t(:idea_page_steps_title).html_safe %></h2>

    <div class="steps-line">
      <div>1</div>
      <span>&nbsp;</span>
      <div>2</div>
      <span>&nbsp;</span>
      <div>3</div>
    </div>

    <ul>
      <li>
        <span class="inside-step">1</span>
        <div>
          <h5><%= I18n.t(:idea_page_step_1_title).html_safe %></h5>

          <p><%= I18n.t(:idea_page_step_1_text).html_safe %></p>
        </div>
      </li>

      <li>
        <span class="inside-step">2</span>
        <div>
          <h5><%= I18n.t(:idea_page_step_2_title).html_safe %></h5>

          <p><%= I18n.t(:idea_page_step_2_text).html_safe %></p>
        </div>
      </li>

      <li>
        <span class="inside-step">3</span>
        <div>
          <h5><%= I18n.t(:idea_page_step_3_title).html_safe %> </h5>

          <p><%= I18n.t(:idea_page_step_3_text).html_safe %></p>
        </div>
      </li>

    </ul>

  </section>


</div>
