<div class="inner-page investments-page">

  <p class="default-text">View the projects that you are interested in to further understand the risks and the return of
    a participation.</p>


  <div class="tabs-component" data-jscomp="components/tabs">
    <ul>
      <li><a href="#about_us"><%= I18n.t(:legal_about_us_title) %></a></li>
      <li><a href="#risks"><%= I18n.t(:legal_risks_title) %></a></li>
      <li><a href="#terms_and_conditions"><%= I18n.t(:legal_terms_title) %></a></li>
      <li><a href="#privacy_policy"><%= I18n.t(:legal_privacy_title) %></a></li>
      <li><a href="#disclaimer"><%= I18n.t(:legal_disclaimer_title) %></a></li>
    </ul>
    <div class="tabs-content" id="about_us">
      <%= render 'partials/about_us' %>
    </div>
    <div class="tabs-content" id="risks">
      <%= render 'partials/risks' %>
    </div>
    <div class="tabs-content" id="terms_and_conditions">
      <%= render 'partials/terms_and_conditions' %>
    </div>
    <div class="tabs-content" id="privacy_policy">
      <%= render 'partials/privacy_policy' %>
    </div>
    <div class="tabs-content" id="disclaimer">
      <%= render 'partials/disclaimer' %>
    </div>
  </div>
</div>
