<div class="inner-page project-description">
  <h1 class="inner-page-main-title"><%= @project.name %></h1>

  <p class="default-text"><%= @project.title %></p>

  <div class="separator-with-text separator-with-icon">
    <div>
      <span>
        <i class="<%= icon_energy(@project.type_of_energe) %>"></i>
      </span>
    </div>
    <hr/>
  </div>
  <div class="project-location"><%= @project.location %></div>
  <h3 class="project-amount"><%= cute_amount(@project.total_amount_need) %><sup>&euro;</sup></h3>
  <%= render 'partials/infographics'%>
  <section class="project-description-content">
    <% if @project.desc_1.present? %>
      <div class="project-description-content-row">
        <div>
          <div class="block-with-text">
            <p><%= @project.desc_1.html_safe %></p>
          </div>
        </div>
        <div><%= image_tag(@project.img_1.url) if @project.img_1.url %></div>
      </div>
    <% end %>
    <% if @project.desc_2.present? %>
      <div class="project-description-content-row">
        <div>
          <div class="block-with-text">
            <p><%= @project.desc_2.html_safe %></p>
          </div>
        </div>
        <div><%= image_tag(@project.img_2.url) if @project.img_2.url %></div>
      </div>
    <% end %>
    <% if @project.desc_3.present? %>
      <div class="project-description-content-row">
        <div>
          <div class="block-with-text">
            <p><%= @project.desc_3.html_safe %></p>
          </div>
        </div>
        <div><%= image_tag(@project.img_3.url) if @project.img_3.url %></div>
      </div>
    <% end %>
    <% if @project.desc_4.present? %>
      <div class="project-description-content-row">
        <div>
          <div class="block-with-text">
            <p><%= @project.desc_4.html_safe %></p>
          </div>
        </div>
        <div><%= image_tag(@project.img_4.url) if @project.img_4.url %></div>
      </div>
    <% end %>
    <% if @project.desc_5.present? %>
      <div class="project-description-content-row">
        <div>
          <div class="block-with-text">
            <p><%= @project.desc_5.html_safe %></p>
          </div>
        </div>
        <div><%= image_tag(@project.img_5.url) if @project.img_5.url %></div>
      </div>
    <% end %>
  </section>
  <section class="grid">
    <h5 class="inner-page-sub-title"><%= I18n.t(:participation_thanks_text_6) %></h5>

    <div class="grid-container">
      <%= generate_table(@project.id) %>
    </div>
  </section>
  <section class="project-controls">
    <table>
      <tr>
        <td>
          <div class="get-back">
            <%= link_to 'All Projects', '/invest#fundable', class: 'icon-font icon-left-dir' %>
          </div>
        </td>
        <td>
        <% if @project.amount_to_invest > 0 && (@project.avaible_participation[:avaible_participation] > 0) %>
          <% js_method =  current_user ? '#participationsPopup' : '#loginPopup' %>
          <a href="#" onclick="compSupport.callFunc('<%= js_method %>', 'show')" class="default-btn"><%= I18n.t(:cmn_invest) %></a>
        <% end %>
        </td>
        <td>
          <div class="get-pdf">
            <%= link_to '<span>For more information see our</span>Information memorandum'.html_safe, @project.pdf.url, class: 'get-pdf icon-font icon-pdf' if @project.pdf.url.present? %>
          </div>
        </td>
      </tr>
    </table>
  </section>
  <% if current_user && !@project.amount_to_invest.zero? %>
    <%= render partial: 'partials/participations_popup', locals: { amount_to_invest: @project.amount_to_invest, interest_paid:  @project.interest_paid } %>
    <%= render partial: 'partials/participations_confirmation_popup', object: @project %>
    <%= render 'partials/participations_thanks_popup' %>
  <% end %>
</div>
