<!DOCTYPE html>
<html>
<head>
  <title>GGIG</title>
  <%= stylesheet_link_tag 'index' %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'partials/header' %>

<%= yield %>

<%= render 'partials/footer' %>

<%= yield(:popups) %>

<script src="/javascripts/index.js"></script>

</body>
</html>
