<!DOCTYPE html>
<html>
<head>
  <title>GGIG</title>
  <%= stylesheet_link_tag 'index' %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'partials/header' %>

<main class="inner-page">
  <%= yield %>
</main>

<%= render 'partials/footer' %>

<%= render 'partials/login_popup' %>
<%= yield(:popups) %>

<script src="/javascripts/index.js"></script>

</body>
</html>
